body {
  margin:0;
  padding:0;
  background:#fff url('../images/body.png') repeat-x 0 0;
}
body,td,th {
  font:12px/1.6 "Lucida Grande", Helvetica, Verdana,Arail,sans;
  color:#333;
}
#title {
  color: #06a;
}
#header_bar {
  background-color: #999;
  color: #fff;
  height: 18px;
  text-align: right;
  padding: 2px 10px;
  font-size: 11px;
}
#header_bar a {
  color: #fff;
  text-decoration: underline;
}
#header_bar a:hover {
  text-decoration: none;
}
#footer {
  color: #666;
  height: 18px;
  font-size: 11px;
  text-align: center;
}
#logout {
  float: right;
  padding: 5px;
}
#wrap {
  clear: both;
  width:600px;
  margin:50px auto;
  padding: 5px 10px;
  /* border: 1px dotted #ccc; */
}
#avatar {
  float: left;
  text-align: left;
  margin-right: 25px;
  margin-bottom: 15px;
}
#description {
  clear: both;
  margin-bottom: 30px;
}
.example {
  font-size: 0.9em;
  font-weight: italic;
  margin-top: 0;
  color: #666r;
}
.form {
  margin-bottom: 35px;
}
div.flash {
  border: 1px solid red;
  color: red;
  font-weight: bold;
  padding: 5px 10px;
}
label {
  font-weight: bold;
}