body {
  margin:0;
  padding:0;
  background:#fff;
}
body,td,th {
  font:12px/1.6 Verdana,Arail,sans;
  color:#333;
}
#header_bar {
  background-color: #333;
  color: #ccc;
  height: 25px;
  text-align: right;
  padding: 2px 10px;
}
#header_bar a {
  color: #ccc;
  text-decoration: underline;
}
#header_bar a:hover {
  text-decoration: none;
}
#logout {
  float: right;
  padding: 5px;
}
#wrap {
  clear: both;
  width:700px;
  margin:10px auto;
}
#avatar {
  float: left;
  text-align: left;
  margin-right: 25px;
  margin-bottom: 15px;
}
#description {
  clear: both;
}
.example {
  font-size: 0.9em;
  font-weight: italic;
  margin-top: 0;
  color: #666r;
}
.form {
  margin-bottom: 35px;
}